@import "colors";

main {
  position: relative;
  height: 100vh;

  div {
    display: flex;
    flex-wrap: wrap;
    margin: 15px auto;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;

  padding: 10px;
  color: $white;
}

